<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">jdbc:mysql://localhost:3306/fpts</property>
        <property name="connection.username">root</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--<property name="show_sql">true</property>-->
        <!--<property name="format_sql">true</property>-->
        <property name="hbm2ddl.auto">update</property>

        <!-- JDBC connection pool (use the built-in) -->
        <property name="connection.pool_size">1</property>
        <property name="current_session_context_class">thread</property>

        <!--<mapping class="info.hieudt.scraper.fpts.domain.ChungKhoan" />-->
        <mapping class="info.hieudt.scraper.fpts.domain.Gia" />
        <mapping class="info.hieudt.scraper.fpts.domain.GiaTriGiaoDich" />
        <mapping class="info.hieudt.scraper.fpts.domain.KhoiLuongGiaoDich" />
        <mapping class="info.hieudt.scraper.fpts.domain.ThongKeDatLenh" />
        <mapping class="info.hieudt.scraper.fpts.domain.ThongKeGia" />
        <mapping class="info.hieudt.scraper.fpts.domain.GiaoDichKhopLenh" />
        <mapping class="info.hieudt.scraper.fpts.domain.NgayMaCK" />
        <mapping class="info.hieudt.scraper.fpts.domain.ThongKeIndex" />
        <mapping class="info.hieudt.scraper.fpts.domain.ThongKeIndexId" />
        <mapping class="info.hieudt.scraper.fpts.model.DuLieuThiTruongTheoNgay" />
        <mapping class="info.hieudt.scraper.fpts.model.DuLieuThiTruongTheoThang" />
        <mapping class="info.hieudt.scraper.fpts.model.DuLieuThiTruongTheoQuy" />
        <mapping class="info.hieudt.scraper.fpts.model.DuLieuThiTruongTheoNam" />
        <mapping class="info.hieudt.scraper.fpts.model.DuLieuCoPhieu" />
        <mapping class="info.hieudt.scraper.fpts.model.BienTheoNgay" />
        <mapping class="info.hieudt.scraper.fpts.model.BienTheoThang" />
        <mapping class="info.hieudt.scraper.fpts.model.BienTheoQuy" />
        <mapping class="info.hieudt.scraper.fpts.model.BienTheoNam" />

        <!-- <mapping resource="com/mkyong/user/DBUser.hbm.xml"></mapping> -->
    </session-factory>
</hibernate-configuration>